$cyberYellow: rgb(218, 170, 14);
$grassGreen: rgb(127, 236, 55);
$white: rgb(255, 255, 255);
$pearl: rgb(212, 213, 216);
$lime: rgb(170, 240, 113);
$dodgerBlue: rgb(58, 107, 212);
$darkGrey: rgb(49, 49, 48);
